@model CmsApplication.Models.student_religion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>student_religion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_religion_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_religion_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.student_religion_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
